<h1>Eat Da Burgers!</h1>

<h2>Available Burgers</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      <li>
        {{burger_name}}
        <button class="change-devour" data-id="{{id}}" data-newdevour="true">
		      Devour It!
	      </button>
      </li>
    {{/unless}}
  {{/each}}
</ul>

<h2>Already Devoured</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      <li>
        {{burger_name}}
      </li>
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="addBurger">Burger Name:</label>
    <input type="text" id="addBurger" name="burger_name">
  </div>

  <button type="submit">Add Burger</button>
</form>
