h1, h2 {
  text-align: center;
}

img {
  border: ridge, 1px, black;
}

li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}
      
#burger_picture {
  margin-top: 60px;
  text-align: center;
}
